*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .question{
    background: url('images/question.png') no-repeat center;
    background-size: cover;
} */
body{
    height: 100vh;
    background:indianred;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color:lightcoral;
    padding: 20px;
    height:400px;
    width:400px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px -5px tomato;
   
}
.cards, .card, .view{
    display: flex;
    align-items: center;
    justify-content: center;


}
.cards .card{
    cursor: pointer;
    height:calc(100%/4 - 10px);
    width:calc(100%/4 - 10px);
position: relative;
perspective: 800px;
transform-style: preserve-3d;



}
.cards .card .view{
    width: 100%;
height: 100%;
position: absolute;
background-color:whitesmoke;
border-radius: 7px;
backface-visibility: hidden;
box-shadow: 2px 2px 2px saddlebrown;
transition: transform 0.25s linear;
user-select: none;
pointer-events: none;
}
.cards{
    width: 100%;
    height:100%;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card .front{
    transform: rotateY(-180deg);

}
.card.flip .back{
    transform: rotateY(180deg);
}
.card.flip .front{
    transform: rotateY(0);
}
.card .front img{
    width: 45px;
}
.card .back{
    width: 45px;
    font-size: 50px;
    color: rgb(94, 10, 10);
    font-weight: 800;
}
.card.shake{
    animation:shake 0.35s ease-in-out;
}
@keyframes shake {
    0%,100%{
        transform: translatex(0);;

    }
    20%{
        transform: translatex(-13px);

    }
    40%{
        transform: translatex(13px);;

    }
    60%{
        transform: translatex(-8px);;

    }
    80%{
        transform: translatex(8px);;

    }


    
}